<!DOCTYPE html>
{% extends 'base.html' %}

{% load static %}
{% block content %}
    <!-- Header-->
    <header class="bg-dark py-2">
        <div class="container px-4 px-lg-5 my-4">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Update Profile</h1>
                <p class="lead fw-normal text-white-50 mb-0">Profile: <strong style="color: red">{{ user.username }} {{user.last_name}}</strong></p>
            </div>
        </div>
    </header>
<!-- Section-->
    <section class="py-1">
        <div class="container px-4 px-lg-5 mt-5 col-md-6">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'profile' current_user.id %}"><strong>User Information</strong></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-decoration-none active bg-transparent" href="{% url 'profile_info' current_user.id %}">Profile Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active bg-transparent text-blue" href="{% url 'shipping_info' current_user.id %}">Shipping Information</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                </li>
            </ul>

        </div>
    </section>

        <section class="py-1">
            <div class="container px-4 px-lg-5 mt-5 col-md-6">

                <form class="row g-3">
                  <div class="col-md-3">
                    <label for="username" class="form-label">Username</label>
                      <span class="form-control " id="username">{{  user }} </span>
                  </div>
                     <div class="col-md-5">
                    <label for="email" class="form-label">Email</label>
                      <span class="form-control" id="email">{{  user.email }} </span>
                  </div>
                    <div class="col-md-2">
                    <label for="phone" class="form-label">User ID</label>
                      <span class="form-control bg-dark text-white" id="phone">{{  user.id }} </span>
                  </div>
                    <div class="col-md-2">
                    <label for="edit" class="form-label">Edit</label>
                      <a id="edit" class="btn btn-warning" href="{% url 'update_user' %}"><i class="bi bi-file-person-fill"></i> User</a>
                  </div>

                  <div class="col-md-6">
                    <label for="fname" class="form-label">First Name</label>
                      <span class="form-control" id="fname">{{ user.first_name }}</span>
                  </div>
                    <div class="col-md-6">
                    <label for="lname" class="form-label">First Name</label>
                      <span class="form-control" id="lname">{{ user.last_name }}</span>
                  </div>
                    <br>
                </form>

                <hr>
                <br>

                <hr>


            </div>
        </section>


    {% endblock %}
<!-- Footer-->

