<!DOCTYPE html>
{% extends 'base.html' %}
{% load mathfilters %}
{% load static %}
{% block content %}
    <!-- Header-->
    <header class="bg-dark py-2">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Payments Failed</h1>
                <p class="lead fw-normal text-white-50 mb-0"><strong style="color: red;"><i class="bi bi-tags"></i> </strong>Payments...</p>
            </div>
        </div>
    </header>
<!-- Section-->

 <section class="py-2">
            <div class="container">
                 <div class="text-center text-warning">
                     <h1 class="display-4 fw-bolder"> <i class="bi bi-patch-exclamation"></i></h1>
                     <p class="lead fw-normal text-danger text-white-50 mb-0">Something went wrong!</p>
                     <p> <span class="text-body-secondary text-black" ><strong>Go back to your <a href="{% url 'checkout' %}">checkout</a>  and try again</strong> </span></p>
                 </div>
            </div>
 </section>
        <section class="py-5">
            <div class="container">
                 <div class="text-center text-warning">
                     <h3 class="display-4 fw-bolder">  # {{ paypal_info.invoice }} &check; </h3>

                     <p> <span class="text-body-secondary text-black" ><strong>If problem perseet call customer support</strong> </span></p>
                 </div>
            </div>



        </section>

    {% endblock %}
<!-- Footer-->

