<!DOCTYPE html>
{% extends 'base.html' %}
{% load mathfilters %}
{% load static %}
{% block content %}
    <!-- Header-->
    <header class="bg-dark py-2">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Payments Successful</h1>
                <p class="lead fw-normal text-white-50 mb-0"><strong style="color: red;"><i class="bi bi-tags"></i> </strong>Payments...</p>
            </div>
        </div>
    </header>
<!-- Section-->
        <section class="py-5">

            {{paypal_info}}
            <div class="container">
                {{paypal_info.PayerID}}
            </div>
        </section>

    {% endblock %}
<!-- Footer-->

