<!DOCTYPE html>
{% extends 'base.html' %}
{% load mathfilters %}
{% load static %}
{% block content %}
    <!-- Header-->
    <header class="bg-dark py-2">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Payments Successful</h1>
                <p class="lead fw-normal text-white-50 mb-0"><strong style="color: red;"><i class="bi bi-tags"></i> </strong>Payments...</p>
            </div>
        </div>
    </header>
<!-- Section-->
        <section class="py-5">
            <div class="container">
                 <div class="text-center text-success">
                     <h1 class="display-4 fw-bolder"> <i class="bi bi-check2-square"></i></h1>
                     <p class="lead fw-normal text-white-50 mb-0">You've successfully placed your order.</p>
                     <p> <span class="text-body-secondary text-black" ><strong>Order Summary</strong> </span></p>
                 </div>
            </div>




                <div class="container">
                    <section class="py-4">
            <div class="container col-md-4">
                <div class="card mb-2 bg-transparent" style="">
                    <div class="row g-0">
                        <div class="col-md-12 " >
                            <div class="card-footer justify-content-left mb-0">
                              <div class="d-flex justify-content-left mb-0">
                                  <span class="text-body-secondary" ><strong>Invoice: </strong><small>{{ paypal_info.invoice }}</small> </span>
                              </div>
                            </div>
                        </div>



                    </div>

                    <div class="row g-0">

                        <div class="col-md-8  ">
                          <div class="card-footer bg-transparent justify-content-left mb-0 ">
                              <div class="d-flex justify-content-left mb-0 align-middle">
                                  <small class="text-body-secondary " >{{ paypal_info.item_name }}</small>
                              </div>

                          </div>
                        </div>


                        <div class="col-md-4" align="right">
                           <div class="card-footer bg-transparent justify-content-left mb-0 ">

                               <span class="text-body-secondary" ><strong>{{ paypal_info.amt }}</strong> </span>

                          </div>
                        </div>

                    </div>




                    <div class="row g-0">
                    <div class="col-md-6" >
                            <div class="card-footer justify-content-right mb-0">
                                 <small class="text-body-secondary"></small>

                            </div>
                        </div>
                    <div class="col-md-6" align="right">
                            <div class="card-footer justify-content-right mb-0">
                               <span class="text-body-secondary"><strong>TOTAL: $ {{ paypal_info.payment_gross }}</strong> </span>

                            </div>
                        </div>
                        </div>
                </div>

                <div class="card mb-2 bg-transparent" style="">

                    <div class="row g-0">
                        <div class="col-md-12 " >
                            <div class="card-footer justify-content-left mb-0">
                              <div class="d-flex justify-content-left mb-0">
                               <span class="text-body-secondary" ><strong>Invoice Details</strong> </span>
                              </div>
                            </div>
                        </div>



                    </div>

                    <div class="row g-0">

                        <div class="col-md-4  ">
                          <div class="card-footer bg-transparent justify-content-left mb-0 ">
                              <div class="d-flex justify-content-left mb-0 align-middle">
                                  <small class="text-body-secondary " >Name</small>
                              </div>

                          </div>
                        </div>


                        <div class="col-md-8">
                           <div class="card-footer bg-transparent justify-content-left mb-0 ">

                               <span class="text-body-secondary" ><strong>{{ paypal_info.address_name }}</strong> </span>

                          </div>
                        </div>

                    </div>
                    <div class="row g-0">

                        <div class="col-md-4  ">
                          <div class="card-footer bg-transparent justify-content-left mb-0 ">
                              <div class="d-flex justify-content-left mb-0 align-middle">
                                  <small class="text-body-secondary " >Payer ID</small>
                              </div>

                          </div>
                        </div>


                        <div class="col-md-8">
                           <div class="card-footer bg-transparent justify-content-left mb-0 ">

                               <span class="text-body-secondary" ><strong>{{ paypal_info.PayerID }}</strong> </span>

                          </div>
                        </div>

                    </div>
                    <div class="row g-0">

                        <div class="col-md-4  ">
                          <div class="card-footer bg-transparent justify-content-left mb-0 ">
                              <div class="d-flex justify-content-left mb-0 align-middle">
                                  <small class="text-body-secondary " >Email</small>
                              </div>

                          </div>
                        </div>


                        <div class="col-md-8">
                           <div class="card-footer bg-transparent justify-content-left mb-0 ">

                               <span class="text-body-secondary" ><strong>{{ paypal_info.payer_email }}</strong> </span>

                          </div>
                        </div>

                    </div>
                    <div class="row g-0">

                        <div class="col-md-4  ">
                          <div class="card-footer bg-transparent justify-content-left mb-0 ">
                              <div class="d-flex justify-content-left mb-0 align-middle">
                                  <small class="text-body-secondary " >Address</small>
                              </div>

                          </div>
                        </div>


                        <div class="col-md-8">
                           <div class="card-footer bg-transparent justify-content-left mb-0 ">

                               <span class="text-body-secondary" ><strong>{{ paypal_info.address_street }}</strong> </span>

                          </div>
                        </div>

                    </div>
                    <div class="row g-0">

                        <div class="col-md-4  ">
                          <div class="card-footer bg-transparent justify-content-left mb-0 ">
                              <div class="d-flex justify-content-left mb-0 align-middle">
                                  <small class="text-body-secondary " >Transaction ID</small>
                              </div>

                          </div>
                        </div>


                        <div class="col-md-8">
                           <div class="card-footer bg-transparent justify-content-left mb-0 ">

                               <span class="text-body-secondary" ><strong>{{ paypal_info.txn_id }}</strong> </span>

                          </div>
                        </div>

                    </div>
                    <div class="row g-0">

                        <div class="col-md-4  ">
                          <div class="card-footer bg-transparent justify-content-left mb-0 ">
                              <div class="d-flex justify-content-left mb-0 align-middle">
                                  <small class="text-body-secondary " >Currency</small>
                              </div>

                          </div>
                        </div>


                        <div class="col-md-8">
                           <div class="card-footer bg-transparent justify-content-left mb-0 ">

                               <span class="text-body-secondary" ><strong>{{ paypal_info.mc_currency }}</strong> </span>

                          </div>
                        </div>

                    </div>
                    <div class="row g-0">

                        <div class="col-md-4  ">
                          <div class="card-footer bg-transparent justify-content-left mb-0 ">
                              <div class="d-flex justify-content-left mb-0 align-middle">
                                  <small class="text-body-secondary " >Payment Status</small>
                              </div>

                          </div>
                        </div>


                        <div class="col-md-8" >
                           <div class="card-footer bg-transparent justify-content-left mb-0 ">

                               <span class="text-body-secondary" ><strong>{{ paypal_info.payment_status }}</strong> </span>

                          </div>
                        </div>

                    </div>
                    <div class="row g-0">

                        <div class="col-md-4  ">
                          <div class="card-footer bg-transparent justify-content-left mb-0 ">
                              <div class="d-flex justify-content-left mb-0 align-middle">
                                  <small class="text-body-secondary " >Date</small>
                              </div>

                          </div>
                        </div>


                        <div class="col-md-8">
                           <div class="card-footer bg-transparent justify-content-left mb-0 ">

                               <span class="text-body-secondary" ><strong>{{ paypal_info.payment_date }}</strong> </span>

                          </div>
                        </div>

                    </div>


                    <div class="col-md-12" >
                            <div class="card-footer justify-content-center mb-0" align="center">
                                 <small><a class="btn btn-sm btn-outline-dark" href="{% url 'home' %}"> <i class="bi bi-check2-square"></i> Done </a></small>
                            </div>
                        </div>
                </div>

                <div class="container d-flex justify-content-center">
                        # {{ paypal_info.invoice }}

                    </div>

                    <br>
                {{ipn}}<br>
                {{ord}} <p></p>
                {{order}}

<!--                {% for item in order %}-->
                {% if item.invoice == paypal_info.invoice %}
                {{item.pk}}, {{item.full_name}}, {{item.shipping_address}}, {{item.invoice}} <br>
                {% endif %}

<!--                {% endfor %}-->

                 <div class="container d-flex justify-content-center">
                     <table>
                         <thead>
                         <tr>
                             <th>Item Name</th>
                             <th>Quantity</th>
                             <th>Price</th>
                         </tr>
                         </thead>
                         <tbody>


                     {% for item in order.orderitem.all %}
                         <tr>
                             <td>{{ item.product.name }}</td>
                             <td>{{ item.quantity }}</td>
                             <td>{{ item.price }}</td>
                         </tr>

                     {% endfor %}
                          </tbody>
                     </table>



                    </div>


            </div>



        </section>
                </div>

        </section>

    {% endblock %}
<!-- Footer-->

